
    body {
        background-image:url(a5bg.png);
    }




    #divexample {
        background-color: white;
        padding: 20px;

        a:hover {
          color: red;
          text-decoration: underline;
      } 
      

        }


      


    h1 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        padding: 20px;
    }

    h2{ 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
         margin-bottom: 20px;

        
    }
  



 
    nav ul {
        list-style-type: none; /* none, disc, circle, square */
      margin:10;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    nav ul li {
        margin-right: 10px; /* makes space between boxs */
        width: 200px; /* to make box around text */
        background-color: blue;
        display: inline-block;   /*horizontal blocks */

      }
    
    nav li a {
        color: white;
        text-decoration: none;
        display: block; /* turns link into box from nav ul li*/
        padding: 12px;
        background-image: blue;
        
    
    }
    
    nav li a:hover {
      background-color: rgb(71, 89, 255);
       
    }
    
    
.box {
  border: 5px solid white ;
  background-color: blue; 
  color: white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 40px;

}


a {
  text-decoration: none; }

