body {
    background-image:url(a62.png);
    
}

#wrapper {   
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 4px solid #000000;
  background-color: #ffffff;  /* Center box on page */
  display: grid; 
  grid-template-columns: repeat(4, 1fr);


}


h1 {
  grid-column: span 6;
  background-color: #000000;
  color: #ffffff;
  margin: 15px;
  margin-bottom: 0px;
  padding: 20px;
  font: 30px Arial, Helvetica, sans-serif;
}  

nav ul {
  list-style-type: none; /* none, disc, circle, square */
  margin-top: 3px;
  margin:10;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
  margin-bottom: 10px; /* makes space between boxs */
  width: 200px; /* to make box around text */
  background-color: rgb(255, 0, 0);
  display: inline-block;   /*horizontal blocks */

}

nav li a {
  color: white;
  text-decoration: none;
  display: block; /* turns link into box from nav ul li*/
  padding: 12px;
  background-image: rgb(255, 0, 0);
}

nav li a:hover {
background-color: rgb(137, 5, 5);
 
}



main { 
    grid-column: span 5;
    padding: 5px;

    a {
      color: red; text-decoration: none;
  
    } 

    a:hover {
      color: blue;
      text-decoration: underline;
    }

}





.bold {
  font: georgia;
  font-weight: bold;


}


  


h2 {
   margin-top: 3px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 3px solid black;

    margin-bottom: 20px;
}

.box {
  border: 3px solid black;
  margin: 5 px;
  padding: 8px;
}

    #brick {
        float: left;  /*wrap around text on left image on right*/
        color: white;
        margin-right: 10px;
       
    }

    

    footer {
        border-top: 4px solid #000000;
        background-color: rgb(187, 0, 0);
        grid-column: span 6;
        color: white;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        font-size: 14px;
        padding: 6px;
        margin-right: 2px;
        
        }
        